body{
  background-color: #fff1c7;
}
input[type=text]{
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: width 0.4s ease-in-out;
}


input[type=text]:focus{
  width: 100%;
}

.webcam__block{
    margin-top: 7px;
    align: center;
}
h1{
    font-weight: bold;
    text-align:center;
}

.inline {
            display: inline-block;
        }

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.side-by-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.margin-sm {
  margin: 5px;
}

.margin {
  margin: 20px;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
}

#facesContainer canvas {
  margin: 10px;
}
