{% extends 'base.html' %}
{% block content %}
    <link href="../static/css/about.css" rel="stylesheet">
    <div id="wrapper" class="divided">
		<section class="banner style1  content-align-left image-position-right fullscreen ">
						<div class="content">
							<h1>SEMOTIONS</h1>
							<p class="major">
								Semotions lets you create Spotify playlists by analyzing your emotions.
								It also lets you create new custom made playlists based on your favourite tracks.
							</p>
							<p class="major">
								Semotions uses the your camera to capture current mood and Spotify API to gather information about your Playlists and Generate New Playlist with that.
								Semotions does not store information about you nor your playlists.
							</p>
							<div class="actions vertical">
								<input type="submit" name="submit" id="submit" value="Go Back" class="button special" onclick="location.href = '/'"/>
							</div>
						</div>

						<div class="image">
							<img src="../static/images/girl_with_headphone.jpeg" alt="girl_with_headphone_image" />
						</div>

					</section>

			</div>
{% endblock %}
