{% extends 'base.html' %}

{% block content %}
    <link href="../static/css/main.css" rel="stylesheet">
    <div id="wrapper" class="divided" style="background-color:#fce8c5;">
				<!-- Intro and Search -->
					<section class="banner style1 orient-right content-align-left fullscreen onload-image-fade-in onload-content-fade-left">
						<div class="content">
                            <div class="image_content">
                                <h1 align="center" >Open Camera</h1>
                                <div class="card hoverable card__small" id="open_camera" onclick="location.href = '/camera'">
                                    <i class="fas fa-camera fa-lg main__icon"></i>
                                </div>
                            </div>
                            <br/><br/>
                            <div class="image_content">
                                <h1 align="center">Your Top Playlists</h1>
                                <div class="card hoverable card__small" onclick="location.href = '/playlist-created'">
                                    <i class="fas fa-music main__icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="image">
                            <img src="../static/images/home.jpg" alt=""/>
                        </div>
                </section>
			</div>

{% endblock %}
